<section (click)="cerrar()">
    <div class="modal">
        <div class="container" (click)="$event.stopPropagation()">
            <div class="header">
                <p>EDITAR EVALUACIÓN</p>
                <span class="material-icons" (click)="cerrar()">cancel</span>
            </div>
            <div class="formulario">
                <form [formGroup]="editEvaluacionForm" (ngSubmit)="onSubmit()">
                    <div class="labels">
                        <div class="nameEvaluation">
                            <label>
                                Nombre de la Evaluación:
                                <input type="text" placeholder="simulacro CEPREVAL ciclo B-2026" formControlName="nameEvaluation">
                            </label>
                            <div *ngIf="editEvaluacionForm.get('nameEvaluation')?.invalid && editEvaluacionForm.get('nameEvaluation')?.touched">
                                Escribir el nombre de la evalución.
                            </div>
                        </div>
                        <div class="date">
                            <label>
                                Fecha de la Evaluación:
                                <input type="date" formControlName="dateEvaluation">
                            </label>
                            <div *ngIf="editEvaluacionForm.get('dateEvaluation')?.invalid && editEvaluacionForm.get('dateEvaluation')?.touched">
                                Ingresar la fecha de la evaluación.
                            </div>
                        </div>
                        <div class="entity">
                            <label>
                                Entidad que organiza la Evaluación:
                                <input type="text" placeholder="CEPREVAL" formControlName="entityEvaluation">
                            </label>
                            <div *ngIf="editEvaluacionForm.get('entityEvaluation')?.invalid && editEvaluacionForm.get('entityEvaluation')?.touched">
                                Escribir el nombre de la entidad que organiza la evaluación.
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="save">
                            GUARDAR
                        </button>
                        <button class="cancel" (click)="cerrar()">
                            CANCEL
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>