<section (click)="cerrar()">
    <div class="modal">
        <div class="container" (click)="$event.stopPropagation()">
            <div class="header">
                <p>NUEVO POSTULANTE</p>
                <span class="material-icons" (click)="cerrar()">cancel</span>
            </div>
            <div class="formulario">
                <form [formGroup]="addPostulanteForm" (ngSubmit)="onSubmit()">
                    <div class="labels">
                        <div class="pagos">
                            <p>PAGOS</p>
                            <div class="exoneracion">
                                <label>
                                    ¿Se le exonera del pago?
                                    <select formControlName="exoneracionPostulante">
                                        <option value="">-- Seleccionar exoneración --</option>
                                        <option value="1">SI</option>
                                        <option value="2">PARCIAL</option>
                                        <option value="3">NO</option>
                                    </select>
                                </label>
                                <div *ngIf="addPostulanteForm.get('exoneracionPostulante')?.invalid && addPostulanteForm.get('exoneracionPostulante')?.touched">Especificar si se le exonera del pago o no.</div>
                            </div>
                            <div class="montoPago">
                                <label>
                                    Monto a pagar: S/
                                    <input type="number" placeholder="100" formControlName="montoPostulante">
                                </label>
                                <div *ngIf="addPostulanteForm.get('montoPostulante')?.invalid && addPostulanteForm.get('montoPostulante')?.touched">Digitar el pago.</div>
                            </div>
                            <div class="modoPago">
                                <label>
                                    Modo de pago:
                                    <input type="text" placeholder="YAPE" formControlName="modoPostulante">
                                </label>
                                <div *ngIf="addPostulanteForm.get('modoPostulante')?.invalid && addPostulanteForm.get('modoPostulante')?.touched">Digitar el modo de pago.</div>
                            </div>
                        </div>
                        <div class="personalinfo">
                            <P>INFORMACIÓN PERSONAL</P>
                            <div class="dni">
                                <label>
                                    DNI:
                                    <input type="number" placeholder="73991573" formControlName="dniPostulante">
                                </label>
                                <div *ngIf="addPostulanteForm.get('dniPostulante')?.invalid && addPostulanteForm.get('dniPostulante')?.touched">Digite el DNI.</div>
                            </div>
                            <div class="firstname">
                                <label>
                                    NOMBRES:
                                    <input type="text" placeholder="JOSH GRAJAM" formControlName="namepostulante">
                                </label>
                                <div *ngIf="addPostulanteForm.get('namepostulante')?.invalid && addPostulanteForm.get('namepostulante')?.touched">Digite los nombres completos.</div>
                            </div>
                            <div class="lastnameF">
                                <label>
                                    APELLIDO PATERNO:
                                    <input type="text" placeholder="FALCÓN" formControlName="lastnameFatherPostulante">
                                </label>
                                <div *ngIf="addPostulanteForm.get('lastnameFatherPostulante')?.invalid && addPostulanteForm.get('lastnameFatherPostulante')?.touched">Digite el apellido paterno.</div>
                            </div>
                            <div class="lastnameM">
                                <label>
                                    APELLIDO MATERNO:
                                    <input type="text" placeholder="CABRA" formControlName="lastnameMotherPostulante">
                                </label>
                                <div *ngIf="addPostulanteForm.get('lastnameMotherPostulante')?.invalid && addPostulanteForm.get('lastnameMotherPostulante')?.touched">Digite el apellido materno.</div>
                            </div>
                            <div class="carrera">
                                <label>
                                    CARRERA:
                                    <select formControlName="carreraPostulante">
                                        <option value="">-- Seleccionar la carrera --</option>
                                        <option value="1">Medicina humana</option>
                                        <option value="2">Ing. civil</option>
                                        <option value="3">Derecho y ciencias políticas</option>
                                        <option value="4">Educación Inicial</option>
                                        <option value="5">Odontología</option>
                                    </select>
                                </label>
                                <div *ngIf="addPostulanteForm.get('carreraPostulante')?.invalid && addPostulanteForm.get('carreraPostulante')?.touched">Escoja la carrera.</div>
                            </div>
                            <div class="graduation">
                                <label>
                                    AÑO DE EGRESO:
                                    <input type="number" placeholder="2020" formControlName="egresoPostualante">
                                </label>
                                <div *ngIf="addPostulanteForm.get('egresoPostualante')?.invalid && addPostulanteForm.get('egresoPostualante')?.touched">Digite el año de egreso.</div>
                            </div>
                            <div class="school">
                                <label>
                                    COLEGIO:
                                    <input type="text" placeholder="G.U.E. LEONCIO PRADO" formControlName="schoolPostulante">
                                </label>
                                <div *ngIf="addPostulanteForm.get('schoolPostulante')?.invalid && addPostulanteForm.get('schoolPostulante')?.touched">Digite el colegio.</div>
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                        <button class="save" type="submit">
                            GUARDAR
                        </button>
                        <button class="cancel" type="button" (click)="cerrar()">
                            CANCEL
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>